.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.receitasContainer {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.cardLink {
  text-decoration: none;
  color: var(--oliva);
  display: flex;
  align-items: center;
}
.card {
  background-color: var(--branco);
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  margin: 5%;
  width: 150px;
  height: 140px;
  border: 1px solid #ddd;
  text-align: center;
  overflow: hidden;
}
.imagem {
  width: 100%;
  height: 85px;
  object-fit: cover;
}
.titulo {
  color: var(--oliva);
  font-size: 13px;
  height: 30px;
  font-weight: 600;
  font-family: "Raleway";
  margin: 10px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
