body {
  margin: 0;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
:root {
  --branco: #ffffff;
  --preto: #181725;
  --oliva: #303919;
  --background: #f1f3ed;
  --cinza: #7c7c7c;
}
