body {
  margin: 0;
  padding: 0;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("./imagens/back-.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
}
:root {
  --branco: #ffffff;
  --preto: #181725;
  --oliva: #303919;
  --background: #f1f3ed;
  --verdinho: #e8efe4;
  --cinza: #7c7c7c;
}
