.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.imagem {
  width: 80%;
  text-align: center;
  border-radius: 3px;
}
.tituloContainer {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}
.titulo {
  font-size: 20px;
  color: var(--oliva);
  font-family: "Raleway";
}
.icones {
  display: flex;
  color: #8e412e;
  font-size: 20px;
  gap: 15px;
}
.subTitulo {
  font-size: 16px;
  color: var(--oliva);
  margin: 10px 0 0 0;
  font-family: "Raleway";
}
.descricao {
  font-size: 16px;
  color: var(--oliva);
  font-family: "Raleway";
  line-height: 1.5;
}
