.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  background-image: url("/./src/imagens/back-.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.containerBotao {
  position: absolute;
  left: 20px;
  top: 10px;
}
.voltar {
  border: none;
  background-color: transparent;
  color: var(--oliva);
  padding: 0;
  cursor: pointer;
}
.imagem {
  width: 340px;
  height: 220px;
  object-fit: cover;
  text-align: center;
  border-radius: 3px;
}
.iconesContainer {
  display: flex;
  margin-top: 20px;
  margin-left: 30%;
}
.icones {
  display: flex;
  color: #8e412e;
  font-size: 22px;
  gap: 15px;
}
.titulo {
  font-size: 20px;
  align-items: center;
  color: var(--oliva);
  font-family: "Raleway";
  margin: 15px 0;
}
.botaoFavoritar {
  border: none;
  background-color: transparent;
  color: #8e412e;
  font-size: 20px;
}
.botaoCompartilhar {
  border: none;
  background-color: transparent;
  color: #8e412e;
  font-size: 20px;
}
.linkCopiado {
  color: #8e412ec9;
  font-size: 13px;
  display: flex;
  margin: 0px;
  margin-right: 5%;
  align-self: flex-end;
}
.subTitulo {
  font-size: 16px;
  color: var(--oliva);
  margin: 5px 0 0 0;
  font-family: "Raleway";
}
.descricao {
  font-size: 16px;
  color: var(--oliva);
  font-family: "Raleway";
  line-height: 1.5;
  max-width: 700px;
}
.Toastify__toast-container {
  width: 200px; /* Define a largura do contêiner onde os toasts aparecem */
}
