.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}
.containerBotao {
  position: absolute;
  left: 20px;
  top: 10px;
}
.voltar {
  border: none;
  background-color: transparent;
  color: var(--oliva);
  padding: 0;
  cursor: pointer;
}
.imagem {
  width: 270px;
  height: 180px;
  object-fit: cover;
  text-align: center;
  border-radius: 3px;
}
.iconesContainer {
  display: flex;
  margin-top: 20px;
  align-self: flex-end;
  margin-right: 10%;
}
.icones {
  display: flex;
  color: #8e412e;
  font-size: 22px;
  gap: 15px;
}
.titulo {
  font-size: 20px;
  align-items: center;
  color: var(--oliva);
  font-family: "Raleway";
  margin: 15px 0;
}
.botaoFavoritar {
  border: none;
  background-color: transparent;
  color: #8e412e;
  font-size: 20px;
}
.botaoCompartilhar {
  border: none;
  background-color: transparent;
  color: #8e412e;
  font-size: 20px;
}
.linkCopiado {
  color: #8e412ec9;
  font-size: 13px;
  display: flex;
  margin: 0px;
  margin-right: 5%;
  align-self: flex-end;
}
.subTitulo {
  font-size: 16px;
  color: var(--oliva);
  margin: 5px 0 0 0;
  font-family: "Raleway";
}
.descricao {
  font-size: 16px;
  color: var(--oliva);
  font-family: "Raleway";
  line-height: 1.5;
}
